* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Montserrat", sans-serif;
}

body,
html {
  line-height: 1.5;
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  width: 80%;
  padding: 3.5vh 0;
}

.logo h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  font-weight: 500;
  letter-spacing: 3px;
}

.items {
  font-family: "Roboto", sans-serif;
  width: 73%;
  margin-left: auto;
  padding: 12vh 0 0 0;
}

.items a {
  display: block;
  height: 6.8vh;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.05em;
  font-weight: 700;
  letter-spacing: 0px;
}

ul {
  list-style-type: none;
}

.links {
  width: 73%;
  margin-left: auto;
  padding: 10vh 0 0 0;
}

.links a {
  display: block;
  height: 6vh;
  text-decoration: none;
  color: black;
  font-size: 0.8em;
  letter-spacing: 0;
  font-weight: 500;
}

.catalogue__container {
  display: flow-root;
  filter: grayscale(75%);
}

.catalogue__heading {
  color: #757575;
  padding: 0.01em 16px;
}

.catalogue__heading p {
  margin: 15px 0;
  font-size: 15px;
}

.catalogue__col {
  float: left;
  width: calc(100% / 4);
}

.img__container {
  padding: 0.01em 16px;
}

.shaker:hover{
  animation-name: Shaking;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.shaker2:hover{
  animation-name: Shaking;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.shaker3:hover{
  animation-name: Shaking;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.shaker4:hover{
  animation-name: Shaking;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.shaker5:hover{
  animation-name: Shaking;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.shaker6:hover{
  animation-name: Shaking;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes Shaking{
  0%{transform: translate(2px, 2px) rotate(0deg);}
  25%{transform: translate(4px, 4px) rotate(3deg);}
  50%{transform: translate(2px, 4px) rotate(0deg);}
  75%{transform: translate(4px, 4px) rotate(3deg);}
  100%{ transform: translate(4px, 4px) rotate(3deg);}
}

.img__container p b {
  font-size: 15px;
  font-weight: bolder;
}

.img__container img {
  width: 100%;
  vertical-align: middle;
}

.add__ons {
  position: relative;
}

.add__ons span {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #000;
  color: #fff;
  display: inline-block;
  padding: 0 8px;
  text-align: center;
}

.buy__button {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.buy__button button {
  color: #fff;
  background-color: #000;
}

.red__text {
  color: #f44336;
}

.red {
  background-color: #f44336;
  color: #fff;
}

.subscribe__container {
  background-color: black;
  color: #fff;
  padding: 32px 16px;
}

.subscribe__container h1 {
  font-size: 32px;
  margin: 10px 0;
  font-weight: 400;
}

.subscribe__container p {
  font-size: 15px;
  margin: 15px 0;
}

.subscribe__container .email__input {
  padding: 8px;
  border: 1px solid #ccc;
  width: 100%;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

.subscribe__container .subscribe__button {
  font-size: 16px;
  margin: 0 0 16px;
  padding: 8px 16px;
  display: inline-block;
  border: none;
}

/* sidenav */
.sidenav {
  width: 250px;
  height: 100%;
  display: block;
  position: fixed;
}

.logo {
  width: 70%;
  padding: 3.6vh 0;
  margin: 0 0 0 29%;
}

.logo h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.55em;
  font-weight: 500;
  letter-spacing: 3px;
}

.items {
  width: 70%;
  padding: 10.5vh 0 0 0;
  margin: 0 0 0 29%;
}

.items a {
  display: block;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.1em;
  font-weight: 700;
  letter-spacing: 0px;
  font-family: "Roboto", sans-serif;
}

.items li {
  padding: 1.5vh 0;
}

.blackjeans a {
  color: black;
}

.blackjeans i {
  font-size: 0.9em;
}

.blackjeans:hover .dropmenu {
  display: block;
}

.dropmenu {
  width: 100%;
  margin: 3vh 11% 2.7vh auto;
  font-size: 0.85em;
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #fff;
}

.dropmenu i {
  font-size: 0.9em;
}

.dropmenu li {
  padding: 1.3vh;
}

.dropmenu li:first-child {
  background-color: #f1f1f1;
}

.dropmenu li a {
  display: block;
  height: auto;
  margin: 0 0 0 1.5vh;
}

.fa-caret-right {
  display: inline-block;
  margin: 0 8% 0 0;
}

.jeans {
  color: rgba(0, 0, 0, 0.6);
}

ul {
  list-style-type: none;
}

.links {
  width: 70%;
  margin-left: 29%;
  padding: 6vh 0 0 0;
}

.links a {
  display: block;
  text-decoration: none;
  color: black;
  font-size: 0.95em;
  letter-spacing: 0;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  padding: 1vh;
}

.sidenav li:hover {
  background-color: #e1e1e1;
}

/* main */

.main {
  margin-left: 250px;
}
.banner {
  padding: 0.01em 16px;
  font-family: "Montserrat", sans-serif;
}

.header{
  display: flow-root;
}

.heading {
  margin: 24px 0;
  font-size: 24px;
  float: left;
  display: inline;
}

.icons {
  display: inline;
  float: right;
  margin: 24px 0;
}

.fa-shopping-cart {
  margin-right: 15px;
}

.image {
  display: inline-block;
}

.i_mage {
  height: auto;
  width: 100%;
}
.text {
  position: absolute;
  top: 130px;
  margin-left: 50px;
  color: white;
  font-weight: 400;
  font-size: 90px;
}
.collection {
  position: absolute;
  top: 270px;
  margin-left: 50px;
  color: white;
  font-weight: 350;
  font-size: 60px;
}
.shopbutton {
  position: absolute;
  top: 375px;
  margin-left: 50px;
}
.button {
  width: 200px;
  height: 60px;
  background-color: black;
  font-size: 25px;
  font-weight: 250;
  color: white;
  border: none;
}
.button:hover {
  background-color: grey;
}
.footer {
  color: white;
  background-color: black;
  height: 100px;
  text-align: center;
  padding: 0.01em 16px;
}
.link {
  color: white;
}
.footer p {
  vertical-align: center;
}
  .logo{
    width: 70%;
    padding: 3.6vh 0;
    margin: 0 0 0 25%;
  }

  .logo h2{
    font-family: "Montserrat", sans-serif;
    font-size: 1.55em;
    font-weight: 500;
    letter-spacing: 3px;
  }

  .items{
    width: 70%;
    padding: 10.5vh 0 0 0;
    margin: 0 0 0 25%;
  }

  .items a{
    display: block;
    text-decoration: none;
    color: rgba(0,0,0,0.6);
    font-size: 1.1em;
    font-weight: 700;
    letter-spacing: 0px;
    font-family: "Roboto", sans-serif;
    padding: 3.5%;
  }

  span{
    color: rgba(0,0,0,0.6);
  }
  
  .blackjeans a{
    color: black;
  }
  
  .blackjeans i{
    font-size: 0.9em;
  }
  
  .blackjeans:hover .dropmenu{
    display: block;
    animation-name: drop;
    animation-duration: 0.5s;
  }
  
  .dropmenu{
    width: 100%;
    margin: 0 0 2.7vh auto;
    font-size: 0.85em;
    display: none;
    position: relative;
    z-index: 1;
    background-color: #fff;
    font-family: "Roboto", sans-serif;
  }

  
  .dropmenu i{
    font-size: 0.9em;
    animation-name: spin;
    animation-duration: 0.6s;
  }

  .dropmenu li{
    padding: 1.3vh;
  }
  
  .dropmenu li:first-child{
    background-color: #f1f1f1;
  }
  
  .dropmenu li a{
    display: block;
    height: auto;
    margin: 0 0 0 1.5vh;
  }
  
  .fa-caret-right{
    display: inline-block;
    margin: 0 8% 0 0;
    
  }

  .jeans{
    color: rgba(0,0,0,0.6);
    position: relative;
    left: 1vw;
  }
  
  ul{
    list-style-type: none;
  }
  
  .links{
    width: 65%;
    margin: 19% 0 0  25%;
    
  }
  
  .links a{
    display: block;
    text-decoration: none;
    color: black;
    font-size: 0.95em;
    letter-spacing: 0;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    padding: 3.5%;
  }

  .sidenav li:hover{
    background-color: #e1e1e1;
    
  }

  /* .sidenav li:hover a{
    color: black;
  } */

  /* main */
  .main{
    width: 100%;
    margin-left: 27%;
  }
  .banner{
    height: 100vh;
    border: 2px solid blue;
    font-family: "Montserrat", sans-serif;
  }

  }
  .text{
    position: absolute;
    top: 130px; 
    margin-left: 50px;
    color: white;
    font-weight: 400;
    font-size:90px;
    
  }
  .collection{
    position: absolute;
    top: 270px;
    margin-left: 50px;
    color: white;
    font-weight: 350;
    font-size: 60px;
  }
  .shopbutton{
    position: absolute;
    top: 375px;
    margin-left: 50px;
  }
  .button{
    width: 200px;
    height: 60px;
    background-color: black;
    font-size: 25px;
    font-weight: 250;
    color: white;
    border: none;
  }
  .button:hover{
    background-color: grey;
  }
  .footer{
    color: white;
    background-color: black;
    height: 100px;
    text-align: center;
  }
  .link{
    color: white;
  }
  p[class="link_text"]{
    vertical-align: center;
  }

  /* Contact */

  .contact_info{
    display: flex;
    width: 100%;
    background-color: #f1f1f1;
    padding: 1.9cm 0 1cm;
    font-family: "Montserrat";
  }

  .contact, .about, .store{
    padding: 3vh 0;
    width: 30%;
  }

  .contact{
    margin: 0 2%;
  }

  .info_head{
    font-weight: 300;
    font-size: 1.3em;
    text-align: center;
  }

  .contact h6{
    font-weight: 400;
    font-size: 0.7em;
    letter-spacing: 0.03vw;
    text-align: center;
  }

  .contact input{
    display: block;
    width: 100%;
    padding: 2.5%;
    margin: 3.5% 0;
    border: 1px solid rgba(182, 182, 182, 0.87);
  }

  .contact input::placeholder{
    font-family: "Montserrat";
    font-size: 0.9em;
    font-weight: 500;
  }

  .contact button{
    width: 100%;
    padding: 3%;
    background-color: #000;
    color: #fff;
    border: none;
    font-family: "Montserrat";
  }

  .contact button:hover{
    background-color: #c9c9c9;
    color: #000;
  }

  .about{
    width: 20%;
    margin: 0px 5% 0px 7%;
  }

  .about_sect{
    display: block;
    color: #000;
    text-align: center;
    font-size: 0.7em;
    font-weight: 300;
    margin: 8% 0;
  }

  .store{
    width: 20%;
    margin-left: 5%;
  }

  .info_head1{
    text-align: left;
    font-weight: 300;
    font-size: 1.2em;
    margin:0 0 2vh;
  }

  .fa-map-marker, .fa-phone, .fa-envelope, .fa-cc-amex, .fa-credit-card{
    margin:0 3% 0 0;

  }

  .contacting{
    text-align: left;
    font-size: 0.7em;
  }

  .cons i{
    font-size: 1.05em;
  }

  .cons i:hover{
    color: rgba(0,0,0,0.6);
    animation-name: spin;
    animation-duration: 0.5s;
  }
  /* animations */
  @keyframes drop {
    0% {opacity: 0.2;}
    100% {opacity: 1;}
  }

  @keyframes spin {
    0% {transform: rotateZ(-360deg);}
    100%{transform: rotateZ(0deg);}
  }
  .banner{
    border: 2px solid blue;
    font-family: "Montserrat", sans-serif;
  }
 
  .text{
    position: absolute;
    top: 130px; 
    margin-left: 50px;
    color: white;
    font-weight: 400;
    font-size:90px;
    
  }
  .collection{
    position: absolute;
    top: 270px;
    margin-left: 50px;
    color: white;
    font-weight: 350;
    font-size: 60px;
  }
  .shopbutton{
    position: absolute;
    top: 375px;
    margin-left: 50px;
  }
  .button{
    width: 200px;
    height: 60px;
    background-color: black;
    font-size: 25px;
    font-weight: 250;
    color: white;
    border: none;
  }
  .button:hover{
    background-color: grey;
  }
  .footer{
    color: white;
    background-color: black;
    height: 100px;
    text-align: center;
  }
  .link{
    color: white;
  }

  .link_text{
    padding-top: 40px;
  }
