* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: "Poppins", sans-serif;
  }
  
  body,
  html {
    line-height: 1.5;
    box-sizing: border-box;
    width: 100%;
  }

  body{
    display: flex;
    
  }

  /* sidenav */
  .sidenav{
    width: 24%;
    height: 100vh;
    position: fixed;
  }

  .logo{
    width: 80%;
    padding: 3.5vh 0;
  }

  .logo h2{
    font-family: "Montserrat", sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
    letter-spacing: 3px;
  }

  .items{
    font-family: "Roboto", sans-serif;
    width: 73%;
    margin-left: auto;
    padding: 12vh 0 0 0;
  }

  .items a{
    display: block;
    height: 6.8vh;
    text-decoration: none;
    color: rgba(0,0,0,0.6);
    font-size: 1.05em;
    font-weight: 700;
    letter-spacing: 0px;
  }

  ul{
    list-style-type: none;
  }

  .links{
    width: 73%;
    margin-left: auto;
    padding: 10vh 0 0 0;
  }

  .links a{
    display: block;
    height: 6vh;
    text-decoration: none;
    color: black;
    font-size: 0.8em;
    letter-spacing: 0;
    font-weight: 500;
  }
  /* main */
  .main{
    width: 70%;
    margin-left: 25.3%;
    margin-right: 7%;
  }
  .banner{
    height: 100vh;
    border: 2px solid blue;
    font-family: "Montserrat", sans-serif;
  }
  .header{
    display: flex;
  }
  .heading{
    margin-left: 20px;
    margin-top: 13px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
  }
  .icons{
    font-size: 27px;
    margin-left: 120vh;
    margin-top: 13px;
  } 
  
  #shopping{
    margin-right: 15px;
  }
.i_mage{
    height: auto;
    margin-left: 20px;
    width: 65vw;
    height: 90vh;
    
  }
  .text{
    position: absolute;
    top: 130px; 
    margin-left: 50px;
    color: white;
    font-weight: 400;
    font-size:90px;
    
  }
  .collection{
    position: absolute;
    top: 270px;
    margin-left: 50px;
    color: white;
    font-weight: 350;
    font-size: 60px;
  }
  .shopbutton{
    position: absolute;
    top: 375px;
  }